/* Normalize */
html{
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-
}
body{
    margin: 0;
    background-image: url(/img/main-background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*,*:before,*:after{
    box-sizing:inherit
}

.body {
    background-color: #613E28;
}

/* Logo Image */
div.picture1 {
    width: 110px;
    height:130px;
    background-image:url('/img/rose-logo01.png');
    margin:0;
    padding:0;
    display:block;
    margin:auto;
 }
 div.picture1:hover {
    width: 109px;
    height:130px;
    background-image:url('/img/rose-logo02.png');
    margin:0;
    padding:0;
    display:block;
    margin:auto;
 }
/* sidebar buttons*/
a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

a img:last-child {
    display: none;
  }
  a:hover img:last-child {
    display: block;
  }
  a:hover img:first-child {
    display: none;  
  }

  .center {
    text-align: center;
  }

  ::-moz-selection {
    color: rgb(229, 192, 163);
    background: rgb(102, 28, 27);
  }
  
  ::selection {
    color: rgb(229, 192, 163);
    background: rgb(102, 28, 27);
  }

 article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}
summary{
    display:list-item
}
 audio,canvas,progress,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
 audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
 a{
    background-color:transparent
}

 abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
 b,strong{
    font-weight:bolder
}

img{
    border-style:none;
    vertical-align:middle;
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible;
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}

html{
    overflow-x:hidden
}
 h1{
    font-size:6vh
}

 h1,h2,h3,h4,h5,h6{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
}

a{
    color:inherit;
}
/* Hamburguer button */
.rose-button{
    background-image: url(/img/hamburguer.png);
    display:inline-block;
    width: 150px;
    height: 58px;
    background-repeat: no-repeat;
    vertical-align:middle;
    overflow:hidden;
    text-align:center;
    cursor:pointer;
}

/* Close button */
.rose-button2{
    background-image: url(/img/close.png);
    display:inline-block;
    height: 63px;
    background-repeat: no-repeat;
    vertical-align:middle;
    overflow:hidden;
    text-align:left;
    cursor:pointer; 
}

.rose-button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

/* Sidebar */
 .sidebar{
    height:100vh;
    position:fixed!important;
    background-color: #69040d;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #69040d 28px ), repeating-linear-gradient( #c0080855, #c00808 );
    margin: 10px;
    border-radius: px;
    padding: 0;
    z-index:1;
}

 .bar-block .rose-dropdown-hover .rose-dropdown-content,.bar-block .rose-dropdown-click .rose-dropdown-content{
    min-width:100%
}

 
 .rose-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
 .rose-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px
}
 .rose-bar{
    width:100%;
    overflow:hidden
}
.rose-center .rose-bar{
    display:inline-block;
    width:auto
}
 .rose-bar .rose-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
 .rose-bar .rose-dropdown-hover,.rose-bar .rose-dropdown-click{
    position:static;
    float:left
}
 .rose-bar .rose-button{
    white-space:normal
}
 .bar-block .rose-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
 .bar-block.rose-center .rose-bar-item{
    text-align:center
}

 .rose-container:after,.rose-container:before,.rose-panel:after,.rose-panel:before,.rose-row:after,.rose-row:before,.rose-row-padding:after,.rose-row-padding:before, .rose-cell-row:before,.rose-cell-row:after,.rose-clear:after,.rose-clear:before,.rose-bar:before,.rose-bar:after{
    content:"";
    display:table;
    clear:both;
    
}
 
 @media (min-width:601px){
    .rose-col.m1{
        width:8.33333%
    }
    .rose-col.m2{
        width:16.66666%
    }
    .rose-col.m3,.rose-quarter{
        width:24.99999%
    }
    .rose-col.m4,.rose-third{
        width:33.33333%
    }
     .rose-col.m5{
        width:41.66666%
    }
    .rose-col.m6{
        width:49.99999%
    }
    .rose-col.m7{
        width:58.33333%
    }
    .rose-col.m8,.rose-twothird{
        width:66.66666%
    }
     .rose-col.m9,.rose-threequarter{
        width:74.99999%
    }
    .rose-col.m10{
        width:83.33333%
    }
    .rose-col.m11{
        width:91.66666%
    }
    .rose-col.m12{
        width:99.99999%
    }
}
 @media (min-width:993px){
    .rose-col.l1{
        width:8.33333%
    }
    .rose-col.l2{
        width:16.66666%
    }
    .rose-col.l3{
        width:24.99999%
    }
    .rose-col.l4{
        width:33.33333%
    }
     .rose-col.l5{
        width:41.66666%
    }
    .rose-col.l6{
        width:49.99999%
    }
    .rose-col.l7{
        width:58.33333%
    }
    .rose-col.l8{
        width:66.66666%
    }
     .rose-col.l9{
        width:74.99999%
    }
    .rose-col.l10{
        width:83.33333%
    }
    .rose-col.l11{
        width:91.66666%
    }
    .rose-col.l12{
        width:99.99999%
    }
}
 .rose-rest{
    overflow:hidden
}
.rose-stretch{
    margin-left:-16px;
    margin-right:-16px
}
 .rose-content,.rose-auto{
    margin-left:auto;
    margin-right:auto
}
.rose-content{
    max-width:980px
}
.rose-auto{
    max-width:1140px
}
 .rose-cell-row{
    display:table;
    width:100%
}
.rose-cell{
    display:table-cell
}
 .rose-cell-top{
    vertical-align:top
}
.rose-cell-middle{
    vertical-align:middle
}
.rose-cell-bottom{
    vertical-align:bottom
}
 .rose-hide{
    display:none!important
}
.rose-show-block,.rose-show{
    display:block!important
}
.rose-show-inline-block{
    display:inline-block!important
}
 @media (max-width:1205px){
    .rose-auto{
        max-width:95%
    }
}
 @media (max-width:600px){
    .rose-modal-content{
        margin:0 10px;
        width:auto!important
    }
    .rose-modal{
        padding-top:30px
    }
     .rose-dropdown-hover.rose-mobile .rose-dropdown-content,.rose-dropdown-click.rose-mobile .rose-dropdown-content{
        position:relative
    }
     .rose-hide-small{
        display:none!important
    }
    .rose-mobile{
        display:block;
        width:100%!important
    }
    .rose-bar-item.rose-mobile,.rose-dropdown-hover.rose-mobile,.rose-dropdown-click.rose-mobile{
        text-align:center
    }
}

 @media (max-width:768px){
    .rose-modal-content{
        width:500px
    }
    .rose-modal{
        padding-top:50px
    }
}
 @media (min-width:993px){
    .rose-modal-content{
        width:900px
    }
    .rose-hide-large{
        display:none!important
    }
    .sidebar.rose-collapse{
        display:block!important
    }
}
 @media (max-width:992px) and (min-width:601px){
    .rose-hide-medium{
        display:none!important
    }
}
 @media (max-width:992px){
    .sidebar.rose-collapse{
        display:none
    }
    .rose-main{
        margin-left:10vh!important;
        margin-right:0!important;
    }
    .rose-auto{
        max-width:100%
    }
}
 .rose-top,.rose-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.rose-top{
    top:0
}
.rose-bottom{
    bottom:0
}
 .rose-overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.791);
    z-index:2
}
 .rose-display-topleft{
    position:absolute;
    left:12vh;
    top:0
}
.rose-display-topright{
    position:absolute;
    right:0;
    top:0
}
 .rose-display-bottomleft{
    position:absolute;
    left:0;
    bottom:0
}
.rose-display-bottomright{
    position:absolute;
    right:0;
    bottom:0
}
 .rose-display-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
 .rose-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
 .rose-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
 .rose-display-topmiddle{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .rose-display-bottommiddle{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%)
}
 .rose-display-container:hover .rose-display-hover{
    display:block
}
.rose-display-container:hover span.rose-display-hover{
    display:inline-block
}
.rose-display-hover{
    display:none
}
 .rose-display-position{
    position:absolute
 }
 .rose-row-padding,.rose-row-padding>.rose-row-padding>.rose-third,.rose-row-padding>.rose-twothird,.rose-row-padding>.rose-threequarter,.rose-row-padding>.rose-quarter,.rose-row-padding>.rose-col{
    padding:0 8px
}
 .rose-container,.rose-panel{
    padding:0.01em 16px;
    border-radius: 7px;
    padding: 16px;
}
.rose-container2,.rose-panel{
    padding:0.01em 16px;
    background-color: #fee8bcb8;
    border-radius: 7px;
    margin: 20px;
}

.rose-left-align{
    text-align:left!important
}
.rose-right-align{
    text-align:right!important
}
.rose-justify{
    text-align:justify!important
}
.rose-center{
    text-align:center!important
}
 .rose-topbar{
    border-top:6px solid #ccc!important
}
.rose-bottombar{
    border-bottom:6px solid #ccc!important
}
 .rose-leftbar{
    border-left:6px solid #ccc!important
}
.rose-rightbar{
    border-right:6px solid #ccc!important
}
.rose-margin{
    margin:16px!important
}
.rose-margin-top{
    margin-top:16px!important
}
.rose-margin-bottom{
    margin-bottom:16px!important
}
 .rose-margin-left{
    margin-left:16px!important
}
.rose-margin-right{
    margin-right:16px!important
}
.rose-padding{
    padding:0!important
}
.rose-padding-large{
    padding:12px 24px!important
}
 .rose-left{
    float:left!important
}
.rose-right{
    float:right!important
}
 .rose-transparent,.rose-hover-none:hover{
    background-color:transparent!important
}
 .rose-hover-none:hover{
    box-shadow:none!important
}
/* Colors */
 .red,.rose-hover-red:hover{
    border:none;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.red2{
    background-color: #3c0403;
    border:none;
    color: #ffdfdf;
}
 
